.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  opacity: 0.60;
  overflow: hidden;
}

/* Below CSS typewriter effect settings adapted from here: https://css-tricks.com/snippets/css/typewriter-effect/ */
.line {
  position: relative;
  color: #242424;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-family: -apple-system, Roboto, serif;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(32) 1s 1 normal both,
  blinkTextCursor 1000ms steps(32) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 15.0em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: #242424;}
  to{border-right-color: transparent;}
}
